body{
    background-color: #212121;
    overflow: auto;
}

h2{
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

table {
  border-collapse: collapse;
  width: 100%;
}

#tabelaPalavras {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #878787;
}

#tabelaPalavras th {
    background-color: #3d0f63;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 1px solid #878787;
}

#exibePalavras {
  display: flex;
  justify-content: flex;
}

#exibePalavrasValidadas {
  display: flex;
  justify-content: flex;
}

.palavrasCorretas {
  color: white;
  background-color: green;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  min-width: 100px;
  max-width: calc(50% - 10px);
  position: relative;
  margin-left: 10px;
}

.palavrasIncorretas {
  color: white;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  min-width: 100px;
  max-width: calc(50% - 10px);
  position: relative;
  margin-left: 10px;
}

.palavras {
  color: white;
  background-color: gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  min-width: 100px;
  max-width: calc(50% - 10px);
  position: relative;
  margin-left: 10px;
}


.remover {
  top: 12px;
  right: 5px;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.fundoBotao{
  background-color: gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -10px;
}

.remover:hover {
  background-color: rgb(102, 98, 98);
}

.fixaTabela {
  max-height: 60vh;
  overflow-y: auto;
}

#tabelaPalavras thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

#tabelaPalavras td {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid #878787;
}

#tabelaPalavras td[colspan] {
    background-color: #3d0f63; 
}

#tabelaPalavras tbody tr:hover td {
    background-color: #3d0f63;
    color: #fff; 
}

.colunaLateral{
    background-color: #3d0f63 !important;
    font-weight: bold;
}

.conteudo{
    padding: 15px;
}

.input {
  color: white;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 8px 25px;
  background: transparent;
  max-width: 190px;
}

.input:focus {
  box-shadow: 2px 2px 15px #8707ff inset;
  border: 2px solid #8707ff;
}

.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.warning {
  background-color: #ffeeba;
  border: 1px solid #ffc107;
  border-radius: 4px;
  padding: 10px;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

.warning.success {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.warning.error {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.message {
  color: #856404;
}